.card {
  padding: 3rem 2rem;
  border: 1px solid #e2e2e2;
}

.section {
  height: 1px;
  background: #e2e2e2;
  margin: 1.5rem 0px 2rem;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.background {
  background: #f9f9f9;
  padding: 3rem 2rem;
  border: 1px solid #e2e2e2;
  margin-left: 30px;
}

.plus-btn {
  position: relative;
  right: 5px;
  width: 30px;
  height: 30px;
}
