.table-wrap {
  padding: 0 2rem 10px;
  width: 100%;
  text-align: center;
  border: 1px solid #e6e6e6;

  table {
    thead {
      display: block; //delete

      th {
        text-align: center;
        background: #f1f5f8;
        border-bottom: 0;
      }
    }
    .scrollTableBody {
      display: block;
      overflow: auto;
      height: 250px;
    }

    // margin: 0 auto;
    text-align: center;
    width: 100%;

    td,
    th {
      border: 1px solid #e6e6e6;
      width: 17.8%;
      height: 35px;
    }

    .check {
      width: 40px;
    }
    .table-delete {
      width: 50px;
    }
    .sell-status {
      width: 80px;
    }
    input[type="checkbox"] {
      font-size: 16px !important;
      margin-top: 0.45rem;
    }
  }
}
